In [19]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [ ]:
contract_df = pd.read_csv(r'cleaned_data/CONTRACT.csv')
contract_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4280377 entries, 0 to 4280376
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   SKP_CREDIT_CASE        int64
 1   SKP_CLIENT             int64
 2   NAME_EDUCATION_TYPE    object
 3   CNT_CHILDREN           int64
 4   AMT_INCOME_MAIN        float64
 5   AMT_INCOME_HOUSEHOLD   int64
 6   NAME_INCOME_TYPE       object
 7   CODE_PROFESSION        object
 8   NAME_CREDIT_STATUS     object
 9   PRODUCT                object
 10  AMT_CREDIT             float64
 11  PAYMENT_NUM            float64
 12  INIT_PAY               float64
 13  ANNUITY                float64
 14  APPLY_CONTRACT_TIME    object
 15  APPROVE_CONTRACT_TIME  object
 16  SIGN_CONTRACT_TIME     object
 17  APPLY_EMPLOYEE         int64
 18  SIGN_EMPLOYEE          int64
 19  FIRST_DUE              int64
 20  SECOND_DUE             int64
 21  THIRD_DUE              int64
 22  FOURTH_DUE             int64
 23  FLAG_INS               int64
dtypes: float64(5), int64(11), object(8)
memory usage: 783.8+ MB

In [21]:
contract_df

,SKP_CREDIT_CASE,SKP_CLIENT,NAME_EDUCATION_TYPE,CNT_CHILDREN,AMT_INCOME_MAIN,AMT_INCOME_HOUSEHOLD,NAME_INCOME_TYPE,CODE_PROFESSION,NAME_CREDIT_STATUS,PRODUCT,...,APPLY_CONTRACT_TIME,APPROVE_CONTRACT_TIME,SIGN_CONTRACT_TIME,APPLY_EMPLOYEE,SIGN_EMPLOYEE,FIRST_DUE,SECOND_DUE,THIRD_DUE,FOURTH_DUE,FLAG_INS
0,199270422,3489209,XNA,0,9000000.0,0,XNA,XNA,Rejected,Consumer Durable,...,2020-01-21 11:05:16,NaN,NaN,-1,-1,0,0,0,0,0
1,199467152,62216381,Bachelor's degree,0,10000000.0,0,Employed person,OTHER,Finished,Consumer Durable,...,2020-01-23 21:16:52,2020-01-23 21:19:41,2020-01-23 21:31:32,-1,-1,0,0,0,0,1
2,202732373,12665970,Bachelor's degree,0,7000000.0,0,Employed person,OTHER,Finished,Consumer Durable,...,2020-03-06 21:25:19,2020-03-06 21:28:01,2020-03-06 21:30:53,23074,23074,0,0,0,0,1
3,203031337,38026388,Elementary (primary) school,0,7000000.0,0,Employed person,WORKER,Finished,Consumer Durable,...,2020-03-10 19:33:37,2020-03-10 19:36:53,2020-03-10 19:37:27,-1,-1,0,0,0,0,1
4,149179096,14975594,Elementary (primary) school,1,4000000.0,0,Employed person,SALESMAN,Finished,Consumer Durable,...,2019-01-31 19:09:53,2019-01-31 19:11:02,2019-01-31 21:46:12,20815,31089,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4280372,342935768,77354359,High school education,0,15000000.0,0,Employed person,ADMINISTRATIVE,Active,Cash Loan,...,2025-06-04 11:15:56,2025-06-04 11:19:56,2025-06-04 11:25:57,-1,-1,0,0,0,0,0
4280373,342935857,20795524,High school education,0,12000000.0,0,Employed person,WORKER,Active,Credit Card,...,2025-06-04 16:17:23,2025-06-04 16:18:00,2025-06-04 16:18:25,-1,-1,0,0,0,0,1
4280374,342935889,14994675,High school education,0,50000000.0,0,Employed person,OTHER,Active,Cash Loan,...,2025-06-04 13:41:32,2025-06-04 14:20:52,2025-06-04 14:27:19,33883,33883,0,0,0,0,1
4280375,342936178,67269333,High school education,0,20000000.0,0,Self-employed person / business owner,OTHER,Active,Cash Loan,...,2025-06-04 11:43:25,2025-06-04 11:46:40,2025-06-04 11:47:02,-1,-1,0,0,0,0,0
4280376,342936440,112516677,High school education,0,15000000.0,0,Employed person,WORKER,Cancelled,Cash Loan,...,2025-06-04 18:06:45,NaN,NaN,-1,-1,0,0,0,0,0

In [22]:
customer_df = pd.read_csv(r'cleaned_data/CUSTOMER.csv')
customer_df

,SKP_CLIENT,NAME_GENDER,NAME_EDUCATION_TYPE,DATE_BIRTH,CNT_CHILDREN,NAME_SALARY_FREQUENCY,CNT_PERSON_DEPENDENT,AVG_SESSION_PER_WEEK_2025,AGE_CLIENT,CLIENT_PROVINCE
0,676,Female,High school education,1966-03-18,0.0,XNA,-1.0,0.0,59,Long An
1,1470,Male,High school education,1967-12-27,1.0,XNA,-1.0,0.0,57,TP Ho Chi Minh
2,7123,Male,Junior school education,1972-10-03,2.0,XNA,6.0,0.0,52,Dak Lak
3,10711,Female,Elementary (primary) school,1978-01-01,1.0,XNA,1.0,0.0,47,Tien Giang
4,12407,Male,High school education,1986-03-14,1.0,XNA,-1.0,0.0,39,Gia Lai
...,...,...,...,...,...,...,...,...,...,...
1000523,126809534,Male,XNA,1990-04-02,0.0,XNA,-1.0,0.0,35,0
1000524,127462754,Male,XNA,2005-04-30,-1.0,XNA,-1.0,0.0,20,0
1000525,126394510,Male,XNA,1995-07-24,0.0,XNA,-1.0,0.0,29,0
1000526,118415150,Female,XNA,2000-05-09,-1.0,XNA,-1.0,0.0,25,0
1000527,126803169,Male,XNA,2004-09-27,-1.0,XNA,-1.0,0.0,20,0

In [23]:
employee_df = pd.read_csv(r'cleaned_data/EMPLOYEE.csv')
employee_df

,CODE_EMPLOYEE,HIRING_DATE,LEAVING_DATE,MANAGER_CODE_EMPLOYEE,GENDER,BIRTH_DATE,LEVEL_SA,WORKING_DAYS,AGE_EMPLOYEE_HIRED,AGE_EMPLOYEE,SA_PROVINCE,FLAG_MANAGER
0,46911,2021-01-04,2021-10-01,115169,Female,2001-11-28,XNA,270,19,23,Ninh Thuan,False
1,46945,2021-01-11,2021-07-26,35377,Female,1999-12-23,XNA,196,21,25,Dong Nai,False
2,47297,2021-02-22,2024-03-13,115717,Female,1999-06-10,JUNIOR,1115,21,26,TP Ho Chi Minh,False
3,47428,2021-03-01,2021-04-11,2101,Female,1998-10-10,XNA,41,22,26,Binh Thuan,False
4,47435,2021-03-01,2021-11-11,115642,Female,1988-02-18,XNA,255,33,37,TP Ho Chi Minh,False
...,...,...,...,...,...,...,...,...,...,...,...,...
11378,118286,2013-07-24,2021-09-19,120745,Female,1992-11-05,XNA,2979,20,32,Thai Binh,False
11379,120002,2013-10-14,2022-06-01,17466,Female,1992-05-01,XNA,3152,21,33,Dong Thap,False
11380,120825,2013-11-27,2021-08-15,23979,Female,1991-03-26,XNA,2818,22,34,TP Ho Chi Minh,False
11381,121209,2013-12-16,NaN,16010,Male,1988-03-11,JUNIOR,4195,25,37,Dong Thap,False
11382,121368,2013-12-18,NaN,24493,Female,1989-02-02,JUNIOR,4193,24,36,Nghe An,False

In [29]:
leads_df = pd.read_csv(r'cleaned_data/LEADS.csv')
leads_df

,DTIME_CREATED,DATE_ASSIGNED,DATE_ACCEPTED,DESC_FIN_REASON,CODE_POS,CODE_PRODUCT_TYPE,FLAG_ASSIGNED,CODE_SA,SKP_CLIENT,MAX_OFFER,LEAD_SOURCE,PROCESS
0,2019-10-16 13:38:42,2200-01-01 00:00:00,2200-01-01 00:00:00,Not Applicable,11417,Cash Loan,0,-1,12393659,20000000.0,TLS,PRO
1,2024-09-26 18:22:11,2024-09-26 18:22:11,2024-09-26 18:22:21,Not Interest,440055,GM Paylater,1,26865,93813570,8000000.0,RTDM,STD
2,2024-11-06 20:08:00,2024-11-07 08:33:46,2024-11-07 08:34:32,Not Interest,1W0499,Credit Card,1,58616,1748865,25000000.0,RTDM,STD
3,2022-09-29 11:56:46,2022-09-29 11:56:46,2022-09-29 18:48:50,Not Interest,400554,Credit Card,1,27520,22148819,5000000.0,RTDM,STD
4,2022-03-30 20:17:34,2022-03-30 20:17:34,2022-03-31 08:48:42,Not Interest,100284,Cash Loan,1,23262,54145376,40000000.0,RTDM,STD
...,...,...,...,...,...,...,...,...,...,...,...,...
2143886,2022-11-04 19:28:06,2022-11-04 19:28:06,2022-11-06 12:33:10,Not Interest,30298,Cash Loan,1,31265,57165785,72657000.0,RTDM,STD
2143887,2022-11-11 19:50:40,2022-11-11 19:50:40,2022-11-12 08:09:48,Not Interest,221486,Credit Card,1,27690,42788141,3000000.0,RTDM,STD
2143888,2025-03-19 14:38:46,2025-03-20 08:00:50,2025-03-20 08:03:59,Not Interest,13355,Credit Card,1,47460,104196078,35000000.0,RTDM,STD
2143889,2022-11-11 16:12:23,2022-11-11 16:12:23,2022-11-11 16:12:48,Expire Lifetime,170508,Credit Card,1,23679,12577773,5500000.0,RTDM,STD
2143890,2025-03-27 18:45:40,2025-03-27 18:51:35,2025-03-27 19:03:17,Not Interest,570536,Consumer Durable,1,57205,14972975,8000000.0,SOB,STD

In [25]:
shop_df = pd.read_csv(r'cleaned_data/SHOP.csv')
shop_df

      CODE_POS SALESROOM_PROVINCE
0       410163          Hai Phong
1       400714            Nghe An
2       240068         Binh Phuoc
3       170525         Kien Giang
4       540196            Lao Cai
...        ...                ...
64338   121362           An Giang
64339   121361           An Giang
64340   300501           Bac Lieu
64341    15026     TP Ho Chi Minh
64342   510497             Son La

[64343 rows x 2 columns]

In [26]:
final_df = contract_df.merge(customer_df, on='SKP_CLIENT', how='inner')
final_df

,SKP_CREDIT_CASE,SKP_CLIENT,NAME_EDUCATION_TYPE_x,CNT_CHILDREN_x,AMT_INCOME_MAIN,AMT_INCOME_HOUSEHOLD,NAME_INCOME_TYPE,CODE_PROFESSION,NAME_CREDIT_STATUS,PRODUCT,...,FLAG_INS,NAME_GENDER,NAME_EDUCATION_TYPE_y,DATE_BIRTH,CNT_CHILDREN_y,NAME_SALARY_FREQUENCY,CNT_PERSON_DEPENDENT,AVG_SESSION_PER_WEEK_2025,AGE_CLIENT,CLIENT_PROVINCE
0,199270422,3489209,XNA,0,9000000.0,0,XNA,XNA,Rejected,Consumer Durable,...,0,Male,Elementary (primary) school,1980-08-03,0.0,Irregular salary frequency,-1.0,0.00,44,TP Ho Chi Minh
1,199467152,62216381,Bachelor's degree,0,10000000.0,0,Employed person,OTHER,Finished,Consumer Durable,...,1,Male,Master's degree,1973-05-26,2.0,XNA,-1.0,0.00,52,Khanh Hoa
2,202732373,12665970,Bachelor's degree,0,7000000.0,0,Employed person,OTHER,Finished,Consumer Durable,...,1,Female,Bachelor's degree,1992-07-11,1.0,XNA,-1.0,0.00,32,Phu Tho
3,203031337,38026388,Elementary (primary) school,0,7000000.0,0,Employed person,WORKER,Finished,Consumer Durable,...,1,Female,Elementary (primary) school,1975-02-11,2.0,XNA,-1.0,0.00,50,TP Ho Chi Minh
4,149179096,14975594,Elementary (primary) school,1,4000000.0,0,Employed person,SALESMAN,Finished,Consumer Durable,...,1,Female,High school education,1991-08-21,2.0,XNA,-1.0,0.00,33,Khanh Hoa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4280372,342935768,77354359,High school education,0,15000000.0,0,Employed person,ADMINISTRATIVE,Active,Cash Loan,...,0,Male,Master's degree,1972-03-26,2.0,XNA,-1.0,0.00,53,Khanh Hoa
4280373,342935857,20795524,High school education,0,12000000.0,0,Employed person,WORKER,Active,Credit Card,...,1,Male,High school education,1993-10-03,0.0,XNA,-1.0,0.00,31,Thanh Hoa
4280374,342935889,14994675,High school education,0,50000000.0,0,Employed person,OTHER,Active,Cash Loan,...,1,Male,High school education,1976-01-01,0.0,XNA,-1.0,0.00,49,TP Ho Chi Minh
4280375,342936178,67269333,High school education,0,20000000.0,0,Self-employed person / business owner,OTHER,Active,Cash Loan,...,0,Male,Bachelor's degree,1993-08-22,0.0,XNA,-1.0,0.00,31,TP Ho Chi Minh
4280376,342936440,112516677,High school education,0,15000000.0,0,Employed person,WORKER,Cancelled,Cash Loan,...,0,Female,High school education,2000-10-25,0.0,XNA,-1.0,2.59,24,Ha Noi

In [27]:
final_df = final_df.merge(employee_df, left_on='APPLY_EMPLOYEE', right_on='CODE_EMPLOYEE', how='inner')
final_df

,SKP_CREDIT_CASE,SKP_CLIENT,NAME_EDUCATION_TYPE_x,CNT_CHILDREN_x,AMT_INCOME_MAIN,AMT_INCOME_HOUSEHOLD,NAME_INCOME_TYPE,CODE_PROFESSION,NAME_CREDIT_STATUS,PRODUCT,...,LEAVING_DATE,MANAGER_CODE_EMPLOYEE,GENDER,BIRTH_DATE,LEVEL_SA,WORKING_DAYS,AGE_EMPLOYEE_HIRED,AGE_EMPLOYEE,SA_PROVINCE,FLAG_MANAGER
0,202732373,12665970,Bachelor's degree,0,7000000.0,0,Employed person,OTHER,Finished,Consumer Durable,...,2023-11-29,26872,Female,1985-03-24,SENIOR,2969,30,40,Phu Tho,False
1,149179096,14975594,Elementary (primary) school,1,4000000.0,0,Employed person,SALESMAN,Finished,Consumer Durable,...,2022-11-30,19780,Female,1992-08-03,MASTER,2800,22,32,Khanh Hoa,True
2,335925533,126826775,XNA,0,2000000.0,0,XNA,XNA,Rejected,Consumer Durable,...,NaN,889,Female,1989-11-15,MASTER,2633,28,35,TP Ho Chi Minh,False
3,163357328,38084937,Junior school education,0,5000000.0,0,Employed person,WORKER,Finished,Consumer Durable,...,2021-01-01,34590,Female,1994-06-30,XNA,1473,22,30,Thanh Hoa,False
4,193688464,37761042,Bachelor's degree,0,10000000.0,0,Employed person,OTHER,Finished,Consumer Durable,...,2021-04-13,1406,Female,1992-07-10,XNA,1624,24,32,Hung Yen,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900896,342934673,99124783,Junior school education,1,25000000.0,0,Employed person,SALESMAN,Signed,Cash Loan,...,NaN,114569,Female,1988-06-01,WARRIOR,1458,33,37,Long An,False
900897,342934791,6409762,Elementary (primary) school,2,15000000.0,0,Self-employed person / business owner,OTHER,Signed,Cash Loan,...,NaN,109522,Male,2002-02-23,WARRIOR,1311,19,23,Bac Lieu,False
900898,342935412,37676700,Elementary (primary) school,1,15000000.0,0,Employed person,WORKER,Signed,Two-wheelers,...,NaN,1428,Male,2000-08-17,JUNIOR,261,24,24,TP Ho Chi Minh,False
900899,342935765,7514929,Junior school education,0,20000000.0,0,Self-employed person / business owner,ENGINEER,Approved,Cash Loan,...,NaN,248,Male,1991-04-22,SENIOR,268,33,34,Long An,False
900900,342935889,14994675,High school education,0,50000000.0,0,Employed person,OTHER,Active,Cash Loan,...,NaN,248,Female,1997-06-18,MASTER,2913,20,28,TP Ho Chi Minh,False