In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [62]:
contract_df = pd.read_csv(r'data/CONTRACT.csv')
contract_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234093 entries, 0 to 6234092
Data columns (total 29 columns):
 #   Column                 Dtype
---  ------                 -----
 0   SKP_CREDIT_CASE        int64
 1   SKP_CLIENT             int64
 2   NAME_EDUCATION_TYPE    object
 3   CNT_CHILDREN           int64
 4   AMT_INCOME_MAIN        float64
 5   AMT_INCOME_HOUSEHOLD   int64
 6   NAME_INCOME_TYPE       object
 7   CODE_PROFESSION        object
 8   NAME_CREDIT_STATUS     object
 9   PRODUCT                object
 10  AMT_CREDIT             float64
 11  PAYMENT_NUM            float64
 12  INIT_PAY               float64
 13  ANNUITY                float64
 14  SKP_SALESROOM          int64
 15  APPLY_CONTRACT_TIME    object
 16  APPROVE_CONTRACT_TIME  object
 17  SIGN_CONTRACT_TIME     object
 18  APPLY_EMPLOYEE         object
 19  SIGN_EMPLOYEE          object
 20  TRANSAC                object
 21  FIRST_DUE              int64
 22  SECOND_DUE             int64
 23  THIRD_DUE              int64
 24  FOURTH_DUE             int64
 25  AMT_BILLING            float64
 26  FLAG_INS               int64
 27  APPLY_EMPLOYEE_LEVEL   object
 28  SIGN_EMPLOYEE_LEVEL    object
dtypes: float64(6), int64(10), object(13)
memory usage: 1.3+ GB

In [63]:
contract_df

,SKP_CREDIT_CASE,SKP_CLIENT,NAME_EDUCATION_TYPE,CNT_CHILDREN,AMT_INCOME_MAIN,AMT_INCOME_HOUSEHOLD,NAME_INCOME_TYPE,CODE_PROFESSION,NAME_CREDIT_STATUS,PRODUCT,...,SIGN_EMPLOYEE,TRANSAC,FIRST_DUE,SECOND_DUE,THIRD_DUE,FOURTH_DUE,AMT_BILLING,FLAG_INS,APPLY_EMPLOYEE_LEVEL,SIGN_EMPLOYEE_LEVEL
0,46804792,13152490,XNA,0,0.0,0,XNA,XNA,Finished,CD,...,NaN,NaN,0,0,0,0,NaN,1,NaN,NaN
1,54355719,14915647,XNA,0,0.0,0,XNA,XNA,Finished,CD,...,NaN,NaN,0,0,0,0,NaN,1,NaN,NaN
2,43078344,11009338,XNA,0,0.0,0,XNA,XNA,Rejected,CD,...,NaN,NaN,0,0,0,0,NaN,0,NaN,NaN
3,199270422,3489209,XNA,0,9000000.0,0,XNA,XNA,Rejected,CD,...,NaN,NaN,0,0,0,0,NaN,0,NaN,NaN
4,199467152,62216381,Bachelor's degree,0,10000000.0,0,Employed person,OTHER,Finished,CD,...,0027039,NaN,0,0,0,0,NaN,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6234088,117314500,4244312,Elementary (primary) school,1,7000000.0,0,Employed person,WORKER,Cancelled,CL,...,NaN,NaN,0,0,0,0,NaN,0,NaN,NaN
6234089,321433839,11854609,XNA,0,10000000.0,0,Employed person,OTHER,Finished,CL,...,00049441,NaN,0,0,0,0,NaN,0,NaN,WARRIOR
6234090,81343486,12603259,XNA,0,0.0,0,XNA,XNA,Finished,CD,...,0034562,NaN,0,0,0,0,NaN,1,NaN,NaN
6234091,278360564,40677477,Junior school education,0,10000000.0,0,Self-employed person / business owner,WORKER,Cancelled,BNPL,...,NaN,NaN,0,0,0,0,NaN,0,NaN,NaN
6234092,342932643,9000715,High school education,2,10000000.0,0,Self-employed person / business owner,FARMER,Signed,BNPL,...,Koyal_User,NaN,0,0,0,0,NaN,0,NaN,NaN

In [66]:
contract_df['APPLY_EMPLOYEE'] = contract_df['APPLY_EMPLOYEE'].str.lstrip('0')
contract_df['SIGN_EMPLOYEE'] = contract_df['SIGN_EMPLOYEE'].str.lstrip('0')
contract_df[['APPLY_EMPLOYEE', 'SIGN_EMPLOYEE']] = contract_df[['APPLY_EMPLOYEE', 'SIGN_EMPLOYEE']].astype('int64', errors='ignore')

In [67]:
category_cols = ['PRODUCT', 'SIGN_EMPLOYEE', 'APPLY_EMPLOYEE_LEVEL', 'SIGN_EMPLOYEE_LEVEL']
continuos_cols = ['AMT_CREDIT', 'PAYMENT_NUM', 'INIT_PAY', 'ANNUITY', 'AMT_BILLING']
timeseries_cols = ['APPROVE_CONTRACT_TIME', 'SIGN_CONTRACT_TIME', 'TRANSAC']

In [68]:
contract_df[category_cols] = contract_df[category_cols].fillna('XNA')
contract_df[continuos_cols] = contract_df[continuos_cols].fillna(-1)
contract_df[timeseries_cols] = contract_df[timeseries_cols].fillna('XNA')

In [69]:
contract_df

,SKP_CREDIT_CASE,SKP_CLIENT,NAME_EDUCATION_TYPE,CNT_CHILDREN,AMT_INCOME_MAIN,AMT_INCOME_HOUSEHOLD,NAME_INCOME_TYPE,CODE_PROFESSION,NAME_CREDIT_STATUS,PRODUCT,...,SIGN_EMPLOYEE,TRANSAC,FIRST_DUE,SECOND_DUE,THIRD_DUE,FOURTH_DUE,AMT_BILLING,FLAG_INS,APPLY_EMPLOYEE_LEVEL,SIGN_EMPLOYEE_LEVEL
0,46804792,13152490,XNA,0,0.0,0,XNA,XNA,Finished,CD,...,XNA,XNA,0,0,0,0,-1.0,1,XNA,XNA
1,54355719,14915647,XNA,0,0.0,0,XNA,XNA,Finished,CD,...,XNA,XNA,0,0,0,0,-1.0,1,XNA,XNA
2,43078344,11009338,XNA,0,0.0,0,XNA,XNA,Rejected,CD,...,XNA,XNA,0,0,0,0,-1.0,0,XNA,XNA
3,199270422,3489209,XNA,0,9000000.0,0,XNA,XNA,Rejected,CD,...,XNA,XNA,0,0,0,0,-1.0,0,XNA,XNA
4,199467152,62216381,Bachelor's degree,0,10000000.0,0,Employed person,OTHER,Finished,CD,...,27039,XNA,0,0,0,0,-1.0,1,XNA,XNA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6234088,117314500,4244312,Elementary (primary) school,1,7000000.0,0,Employed person,WORKER,Cancelled,CL,...,XNA,XNA,0,0,0,0,-1.0,0,XNA,XNA
6234089,321433839,11854609,XNA,0,10000000.0,0,Employed person,OTHER,Finished,CL,...,49441,XNA,0,0,0,0,-1.0,0,XNA,WARRIOR
6234090,81343486,12603259,XNA,0,0.0,0,XNA,XNA,Finished,CD,...,34562,XNA,0,0,0,0,-1.0,1,XNA,XNA
6234091,278360564,40677477,Junior school education,0,10000000.0,0,Self-employed person / business owner,WORKER,Cancelled,BNPL,...,XNA,XNA,0,0,0,0,-1.0,0,XNA,XNA
6234092,342932643,9000715,High school education,2,10000000.0,0,Self-employed person / business owner,FARMER,Signed,BNPL,...,Koyal_User,XNA,0,0,0,0,-1.0,0,XNA,XNA

In [70]:
# Count the number of distinct contract id
distinct_contracts = contract_df['SKP_CREDIT_CASE'].nunique()
print(f"Number of distinct contracts: {distinct_contracts}")

Number of distinct contracts: 4280377

In [71]:
# Non-duplicated contract ids
non_duplicated_contracts = contract_df[contract_df['SKP_CREDIT_CASE'].duplicated(keep=False) == False]
print(f"Number of non-duplicated contracts: {len(non_duplicated_contracts)}")

# Duplicated contract ids
duplicated_contracts = contract_df[contract_df['SKP_CREDIT_CASE'].duplicated(keep=False)]
print(f"Number of duplicated contracts: {len(duplicated_contracts)}")

Number of non-duplicated contracts: 2326915
Number of duplicated contracts: 3907178

In [72]:
duplicated_contracts = duplicated_contracts.drop_duplicates()
print(f"Number of duplicated contracts: {len(duplicated_contracts)}")

Number of duplicated contracts: 3906868

In [73]:
duplicated_contracts = duplicated_contracts\
        .sort_values(by=['SKP_CREDIT_CASE', 'AMT_INCOME_MAIN', 'NAME_EDUCATION_TYPE'], ascending=[True, True, False])\
        .drop_duplicates(subset=['SKP_CREDIT_CASE'], keep='last')
print(f"Number of duplicated contracts after sorting and dropping: {len(duplicated_contracts)}")

Number of duplicated contracts after sorting and dropping: 1953462

In [74]:
# Append the non-duplicated contracts to the duplicated contracts
contract_df = pd.concat([non_duplicated_contracts, duplicated_contracts], ignore_index=True)
contract_df

,SKP_CREDIT_CASE,SKP_CLIENT,NAME_EDUCATION_TYPE,CNT_CHILDREN,AMT_INCOME_MAIN,AMT_INCOME_HOUSEHOLD,NAME_INCOME_TYPE,CODE_PROFESSION,NAME_CREDIT_STATUS,PRODUCT,...,SIGN_EMPLOYEE,TRANSAC,FIRST_DUE,SECOND_DUE,THIRD_DUE,FOURTH_DUE,AMT_BILLING,FLAG_INS,APPLY_EMPLOYEE_LEVEL,SIGN_EMPLOYEE_LEVEL
0,199270422,3489209,XNA,0,9000000.0,0,XNA,XNA,Rejected,CD,...,XNA,XNA,0,0,0,0,-1.0,0,XNA,XNA
1,199467152,62216381,Bachelor's degree,0,10000000.0,0,Employed person,OTHER,Finished,CD,...,27039,XNA,0,0,0,0,-1.0,1,XNA,XNA
2,202732373,12665970,Bachelor's degree,0,7000000.0,0,Employed person,OTHER,Finished,CD,...,23074,XNA,0,0,0,0,-1.0,1,XNA,XNA
3,203031337,38026388,Elementary (primary) school,0,7000000.0,0,Employed person,WORKER,Finished,CD,...,41262,XNA,0,0,0,0,-1.0,1,XNA,XNA
4,149179096,14975594,Elementary (primary) school,1,4000000.0,0,Employed person,SALESMAN,Finished,CD,...,31089,XNA,0,0,0,0,-1.0,1,XNA,XNA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4280372,342935768,77354359,High school education,0,15000000.0,0,Employed person,ADMINISTRATIVE,Active,CL,...,Koyal_User,XNA,0,0,0,0,-1.0,0,XNA,XNA
4280373,342935857,20795524,High school education,0,12000000.0,0,Employed person,WORKER,Active,CC,...,Koyal_User,XNA,0,0,0,0,-1.0,1,XNA,XNA
4280374,342935889,14994675,High school education,0,50000000.0,0,Employed person,OTHER,Active,CL,...,33883,XNA,0,0,0,0,-1.0,1,XNA,XNA
4280375,342936178,67269333,High school education,0,20000000.0,0,Self-employed person / business owner,OTHER,Active,CL,...,Koyal_User,XNA,0,0,0,0,-1.0,0,XNA,XNA
4280376,342936440,112516677,High school education,0,15000000.0,0,Employed person,WORKER,Cancelled,CL,...,XNA,XNA,0,0,0,0,-1.0,0,XNA,XNA

In [75]:
contract_df.to_csv(r'cleaned_data/CONTRACT.csv', index=False)

In [13]:
customer_df = pd.read_csv(r'data/CUSTOMER.csv')
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000528 entries, 0 to 1000527
Data columns (total 10 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   SKP_CLIENT                 1000528 non-null  int64
 1   NAME_GENDER                1000528 non-null  object
 2   NAME_EDUCATION_TYPE        1000528 non-null  object
 3   DATE_BIRTH                 1000528 non-null  object
 4   CNT_CHILDREN               874457 non-null   float64
 5   FLAG_CAR_OWNER             1000528 non-null  object
 6   NAME_SALARY_FREQUENCY      1000528 non-null  object
 7   CNT_PERSON_DEPENDENT       14869 non-null    float64
 8   ADDRESS                    851286 non-null   object
 9   AVG_SESSION_PER_WEEK_2025  1000528 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 76.3+ MB

In [14]:
customer_df

,SKP_CLIENT,NAME_GENDER,NAME_EDUCATION_TYPE,DATE_BIRTH,CNT_CHILDREN,FLAG_CAR_OWNER,NAME_SALARY_FREQUENCY,CNT_PERSON_DEPENDENT,ADDRESS,AVG_SESSION_PER_WEEK_2025
0,676,Female,High school education,1966-03-18 00:00,0.0,X,XNA,NaN,"P. 2,TP. Tan An,Long An",0.0
1,1470,Male,High school education,1967-12-27 00:00,1.0,X,XNA,NaN,"P. 9,Q. 8,TP. HCM",0.0
2,7123,Male,Junior school education,1972-10-03 00:00,2.0,X,XNA,6.0,"TT.BUON TRAP,H. Krong Ana,Dak Lak",0.0
3,10711,Female,Elementary (primary) school,1978-01-01 00:00,1.0,X,XNA,1.0,"X. An Thai Dong,H. Cai Be,Tien Giang",0.0
4,12407,Male,High school education,1986-03-14 00:00,1.0,X,XNA,NaN,"P. Yen The,TP. Pleiku,Gia Lai",0.0
...,...,...,...,...,...,...,...,...,...,...
1000523,126809534,Male,XNA,1990-04-02 00:00,0.0,X,XNA,NaN,NaN,0.0
1000524,127462754,Male,XNA,2005-04-30 00:00,NaN,X,XNA,NaN,NaN,0.0
1000525,126394510,Male,XNA,1995-07-24 00:00,0.0,X,XNA,NaN,NaN,0.0
1000526,118415150,Female,XNA,2000-05-09 00:00,NaN,X,XNA,NaN,NaN,0.0
1000527,126803169,Male,XNA,2004-09-27 00:00,NaN,X,XNA,NaN,NaN,0.0

In [15]:
category_cols = ['ADDRESS']
continuos_cols = ['CNT_CHILDREN', 'CNT_PERSON_DEPENDENT']
timeseries_cols = []

In [16]:
customer_df[category_cols] = customer_df[category_cols].fillna('XNA')
customer_df[continuos_cols] = customer_df[continuos_cols].fillna(-1)

In [17]:
customer_df.drop(columns=['FLAG_CAR_OWNER'], inplace=True)

In [18]:
customer_df

,SKP_CLIENT,NAME_GENDER,NAME_EDUCATION_TYPE,DATE_BIRTH,CNT_CHILDREN,NAME_SALARY_FREQUENCY,CNT_PERSON_DEPENDENT,ADDRESS,AVG_SESSION_PER_WEEK_2025
0,676,Female,High school education,1966-03-18 00:00,0.0,XNA,-1.0,"P. 2,TP. Tan An,Long An",0.0
1,1470,Male,High school education,1967-12-27 00:00,1.0,XNA,-1.0,"P. 9,Q. 8,TP. HCM",0.0
2,7123,Male,Junior school education,1972-10-03 00:00,2.0,XNA,6.0,"TT.BUON TRAP,H. Krong Ana,Dak Lak",0.0
3,10711,Female,Elementary (primary) school,1978-01-01 00:00,1.0,XNA,1.0,"X. An Thai Dong,H. Cai Be,Tien Giang",0.0
4,12407,Male,High school education,1986-03-14 00:00,1.0,XNA,-1.0,"P. Yen The,TP. Pleiku,Gia Lai",0.0
...,...,...,...,...,...,...,...,...,...
1000523,126809534,Male,XNA,1990-04-02 00:00,0.0,XNA,-1.0,XNA,0.0
1000524,127462754,Male,XNA,2005-04-30 00:00,-1.0,XNA,-1.0,XNA,0.0
1000525,126394510,Male,XNA,1995-07-24 00:00,0.0,XNA,-1.0,XNA,0.0
1000526,118415150,Female,XNA,2000-05-09 00:00,-1.0,XNA,-1.0,XNA,0.0
1000527,126803169,Male,XNA,2004-09-27 00:00,-1.0,XNA,-1.0,XNA,0.0

In [19]:
customer_df.to_csv(r'cleaned_data/CUSTOMER.csv', index=False)

In [20]:
employee_df = pd.read_csv(r'data/EMPLOYEE.csv')
employee_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11383 entries, 0 to 11382
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CODE_EMPLOYEE          11383 non-null  int64
 1   HIRING_DATE            11383 non-null  object
 2   LEAVING_DATE           7565 non-null   object
 3   MANAGER_CODE_EMPLOYEE  11383 non-null  int64
 4   GENDER                 11383 non-null  object
 5   BIRTH_DATE             11383 non-null  object
 6   LEVEL_SA               7220 non-null   object
 7   ADDRESS                11383 non-null  object
dtypes: int64(2), object(6)
memory usage: 711.6+ KB

In [21]:
employee_df

,CODE_EMPLOYEE,HIRING_DATE,LEAVING_DATE,MANAGER_CODE_EMPLOYEE,GENDER,BIRTH_DATE,LEVEL_SA,ADDRESS
0,46911,2021-01-04 00:00:00,2021-10-01 00:00:00,115169,Female,2001-11-28 00:00:00,NaN,"Phuong Dong Hai, Tp. Phan Rang-thap Cham, Ninh..."
1,46945,2021-01-11 00:00:00,2021-07-26 00:00:00,35377,Female,1999-12-23 00:00:00,NaN,"Phuong Xuan An, Thanh Pho Long Khanh, Dong Nai"
2,47297,2021-02-22 00:00:00,2024-03-13 00:00:00,115717,Female,1999-06-10 00:00:00,JUNIOR,"Phuong 08, Quan 6, TP Ho Chi Minh"
3,47428,2021-03-01 00:00:00,2021-04-11 00:00:00,2101,Female,1998-10-10 00:00:00,NaN,"Thi Tran Lien Huong, Huyen Tuy Phong, Binh Thuan"
4,47435,2021-03-01 00:00:00,2021-11-11 00:00:00,115642,Female,1988-02-18 00:00:00,NaN,"Xa Binh Hung, Huyen Binh Chanh, TP Ho Chi Minh"
...,...,...,...,...,...,...,...,...
11378,118286,2013-07-24 00:00:00,2021-09-19 00:00:00,120745,Female,1992-11-05 00:00:00,NaN,"Thi Tran Tien Hai, Huyen Tien Hai, Thai Binh"
11379,120002,2013-10-14 00:00:00,2022-06-01 00:00:00,17466,Female,1992-05-01 00:00:00,NaN,"Xa Long Hau, Huyen Lai Vung, Dong Thap"
11380,120825,2013-11-27 00:00:00,2021-08-15 00:00:00,23979,Female,1991-03-26 00:00:00,NaN,"Phuong Binh Tri Dong, Quan Binh Tan, TP Ho Chi..."
11381,121209,2013-12-16 00:00:00,NaN,16010,Male,1988-03-11 00:00:00,JUNIOR,"Thi Tran Thanh Binh, Huyen Thanh Binh, Dong Thap"
11382,121368,2013-12-18 00:00:00,NaN,24493,Female,1989-02-02 00:00:00,JUNIOR,"Phuong Le Mao, Thanh Pho Vinh, Nghe An"

In [22]:
category_cols = ['LEVEL_SA']
continuos_cols = []
timeseries_cols = ['LEAVING_DATE']

In [23]:
employee_df[category_cols] = employee_df[category_cols].fillna('XNA')
employee_df[timeseries_cols] = employee_df[timeseries_cols].fillna('XNA')

In [24]:
employee_df

,CODE_EMPLOYEE,HIRING_DATE,LEAVING_DATE,MANAGER_CODE_EMPLOYEE,GENDER,BIRTH_DATE,LEVEL_SA,ADDRESS
0,46911,2021-01-04 00:00:00,2021-10-01 00:00:00,115169,Female,2001-11-28 00:00:00,XNA,"Phuong Dong Hai, Tp. Phan Rang-thap Cham, Ninh..."
1,46945,2021-01-11 00:00:00,2021-07-26 00:00:00,35377,Female,1999-12-23 00:00:00,XNA,"Phuong Xuan An, Thanh Pho Long Khanh, Dong Nai"
2,47297,2021-02-22 00:00:00,2024-03-13 00:00:00,115717,Female,1999-06-10 00:00:00,JUNIOR,"Phuong 08, Quan 6, TP Ho Chi Minh"
3,47428,2021-03-01 00:00:00,2021-04-11 00:00:00,2101,Female,1998-10-10 00:00:00,XNA,"Thi Tran Lien Huong, Huyen Tuy Phong, Binh Thuan"
4,47435,2021-03-01 00:00:00,2021-11-11 00:00:00,115642,Female,1988-02-18 00:00:00,XNA,"Xa Binh Hung, Huyen Binh Chanh, TP Ho Chi Minh"
...,...,...,...,...,...,...,...,...
11378,118286,2013-07-24 00:00:00,2021-09-19 00:00:00,120745,Female,1992-11-05 00:00:00,XNA,"Thi Tran Tien Hai, Huyen Tien Hai, Thai Binh"
11379,120002,2013-10-14 00:00:00,2022-06-01 00:00:00,17466,Female,1992-05-01 00:00:00,XNA,"Xa Long Hau, Huyen Lai Vung, Dong Thap"
11380,120825,2013-11-27 00:00:00,2021-08-15 00:00:00,23979,Female,1991-03-26 00:00:00,XNA,"Phuong Binh Tri Dong, Quan Binh Tan, TP Ho Chi..."
11381,121209,2013-12-16 00:00:00,XNA,16010,Male,1988-03-11 00:00:00,JUNIOR,"Thi Tran Thanh Binh, Huyen Thanh Binh, Dong Thap"
11382,121368,2013-12-18 00:00:00,XNA,24493,Female,1989-02-02 00:00:00,JUNIOR,"Phuong Le Mao, Thanh Pho Vinh, Nghe An"

In [25]:
employee_df.to_csv(r'cleaned_data/EMPLOYEE.csv', index=False)

In [52]:
leads_df = pd.read_csv(r'data/LEADS.csv')
leads_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2143891 entries, 0 to 2143890
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   DTIME_CREATED      object
 1   DATE_ASSIGNED      object
 2   DATE_ACCEPTED      object
 3   DESC_FIN_REASON    object
 4   CODE_POS           object
 5   CODE_PRODUCT_TYPE  object
 6   FLAG_ASSIGNED      int64
 7   CODE_SA            object
 8   SKP_CLIENT         int64
 9   MAX_OFFER          float64
 10  LEAD_SOURCE        object
 11  PROCESS            object
dtypes: float64(1), int64(2), object(9)
memory usage: 196.3+ MB

In [53]:
leads_df

,DTIME_CREATED,DATE_ASSIGNED,DATE_ACCEPTED,DESC_FIN_REASON,CODE_POS,CODE_PRODUCT_TYPE,FLAG_ASSIGNED,CODE_SA,SKP_CLIENT,MAX_OFFER,LEAD_SOURCE,PROCESS
0,2019-10-16 13:38:42,3000-01-01 00:00:00,3000-01-01 00:00:00,Not Applicable,011417,CLX,0,NaN,12393659,20000000.0,TLS,PRO
1,2024-09-26 18:22:11,2024-09-26 18:22:11,2024-09-26 18:22:21,Not Interest,440055,BNP,1,0026865,93813570,8000000.0,SA,STD
2,2024-11-06 20:08:00,2024-11-07 08:33:46,2024-11-07 08:34:32,Not Interest,1W0499,CCX,1,00058616,1748865,25000000.0,RA,STD
3,2022-09-29 11:56:46,2022-09-29 11:56:46,2022-09-29 18:48:50,Not Interest,400554,CCX,1,0027520,22148819,5000000.0,SA,STD
4,2022-03-30 20:17:34,2022-03-30 20:17:34,2022-03-31 08:48:42,Not Interest,100284,CLX,1,0023262,54145376,40000000.0,SA,STD
...,...,...,...,...,...,...,...,...,...,...,...,...
2143886,2022-11-04 19:28:06,2022-11-04 19:28:06,2022-11-06 12:33:10,Not Interest,030298,CLX,1,0031265,57165785,72657000.0,SA,STD
2143887,2022-11-11 19:50:40,2022-11-11 19:50:40,2022-11-12 08:09:48,Not Interest,221486,VCC,1,0027690,42788141,3000000.0,SA,STD
2143888,2025-03-19 14:38:46,2025-03-20 08:00:50,2025-03-20 08:03:59,Not Interest,013355,CCX,1,00047460,104196078,35000000.0,RA,STD
2143889,2022-11-11 16:12:23,2022-11-11 16:12:23,2022-11-11 16:12:48,Expire Lifetime,170508,VCC,1,0023679,12577773,5500000.0,RA,STD
2143890,2025-03-27 18:45:40,2025-03-27 18:51:35,2025-03-27 19:03:17,Not Interest,570536,CD,1,00057205,14972975,8000000.0,SOB,STD

In [57]:
leads_df['CODE_SA'] = leads_df['CODE_SA'].str.lstrip('0')
leads_df['CODE_SA'] = leads_df['CODE_SA'].astype('int64', errors='ignore')

In [58]:
category_cols = ['DESC_FIN_REASON', 'CODE_SA']
continuos_cols = ['MAX_OFFER']
timeseries_cols = []

In [59]:
leads_df[category_cols] = leads_df[category_cols].fillna('XNA')
leads_df[continuos_cols] = leads_df[continuos_cols].fillna(-1)

In [60]:
leads_df

,DTIME_CREATED,DATE_ASSIGNED,DATE_ACCEPTED,DESC_FIN_REASON,CODE_POS,CODE_PRODUCT_TYPE,FLAG_ASSIGNED,CODE_SA,SKP_CLIENT,MAX_OFFER,LEAD_SOURCE,PROCESS
0,2019-10-16 13:38:42,3000-01-01 00:00:00,3000-01-01 00:00:00,Not Applicable,011417,CLX,0,XNA,12393659,20000000.0,TLS,PRO
1,2024-09-26 18:22:11,2024-09-26 18:22:11,2024-09-26 18:22:21,Not Interest,440055,BNP,1,26865,93813570,8000000.0,SA,STD
2,2024-11-06 20:08:00,2024-11-07 08:33:46,2024-11-07 08:34:32,Not Interest,1W0499,CCX,1,58616,1748865,25000000.0,RA,STD
3,2022-09-29 11:56:46,2022-09-29 11:56:46,2022-09-29 18:48:50,Not Interest,400554,CCX,1,27520,22148819,5000000.0,SA,STD
4,2022-03-30 20:17:34,2022-03-30 20:17:34,2022-03-31 08:48:42,Not Interest,100284,CLX,1,23262,54145376,40000000.0,SA,STD
...,...,...,...,...,...,...,...,...,...,...,...,...
2143886,2022-11-04 19:28:06,2022-11-04 19:28:06,2022-11-06 12:33:10,Not Interest,030298,CLX,1,31265,57165785,72657000.0,SA,STD
2143887,2022-11-11 19:50:40,2022-11-11 19:50:40,2022-11-12 08:09:48,Not Interest,221486,VCC,1,27690,42788141,3000000.0,SA,STD
2143888,2025-03-19 14:38:46,2025-03-20 08:00:50,2025-03-20 08:03:59,Not Interest,013355,CCX,1,47460,104196078,35000000.0,RA,STD
2143889,2022-11-11 16:12:23,2022-11-11 16:12:23,2022-11-11 16:12:48,Expire Lifetime,170508,VCC,1,23679,12577773,5500000.0,RA,STD
2143890,2025-03-27 18:45:40,2025-03-27 18:51:35,2025-03-27 19:03:17,Not Interest,570536,CD,1,57205,14972975,8000000.0,SOB,STD

In [61]:
leads_df.to_csv(r'cleaned_data/LEADS.csv', index=False)

In [32]:
past_behavior_df = pd.read_csv(r'data/PAST_BEHAVIOR.csv')
past_behavior_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4412610 entries, 0 to 4412609
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   DTIME_EVENT   object
 1   SKP_CLIENT    int64
 2   ACTION        object
 3   PRODUCT_CODE  object
dtypes: int64(1), object(3)
memory usage: 134.7+ MB

In [33]:
past_behavior_df

                 DTIME_EVENT  SKP_CLIENT       ACTION PRODUCT_CODE
0        2022-12-01 01:40:38    15368837  APP SCORING          CLX
1        2022-12-01 02:04:46     7658238  APP SCORING         BNPL
2        2022-12-01 02:07:22    12686267  APP SCORING         BNPL
3        2022-12-01 06:01:48    16715460  APP SCORING         BNPL
4        2022-12-01 06:01:48    16715460  APP SCORING          CCX
...                      ...         ...          ...          ...
4412605  2025-06-03 22:08:07    67685864  APP SCORING         BNPL
4412606  2025-06-03 22:09:07    39273226  APP SCORING          CCX
4412607  2025-06-03 22:15:54   127338235  WEB SCORING         BNPL
4412608  2025-06-03 22:27:18    43180366  APP SCORING          CLX
4412609  2025-06-03 22:29:05    75074011  APP SCORING          CCX

[4412610 rows x 4 columns]

In [34]:
past_behavior_df.to_csv(r'cleaned_data/PAST_BEHAVIOR.csv', index=False)

In [41]:
shop_df = pd.read_csv(r'data/SHOP.csv')
shop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64525 entries, 0 to 64524
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CODE_POS            64525 non-null  object
 1   SALESROOM_TOWN      64096 non-null  object
 2   SALESROOM_DISTRICT  64096 non-null  object
 3   SALESROOM_PROVINCE  64525 non-null  object
 4   ADDRESS             64525 non-null  object
dtypes: object(5)
memory usage: 2.5+ MB

In [42]:
shop_df

,CODE_POS,SALESROOM_TOWN,SALESROOM_DISTRICT,SALESROOM_PROVINCE,ADDRESS
0,410163,P. LẠCH TRAY,Q. Ngo Quyen,Hai Phong,"P. LẠCH TRAY, Q. Ngo Quyen, Hai Phong"
1,400714,P. Truong Thi,TP. Vinh,Nghe An,"P. Truong Thi, TP. Vinh, Nghe An"
2,240068,P. THAC MO,TX. Phuoc Long,Binh Phuoc,"P. THAC MO, TX. Phuoc Long, Binh Phuoc"
3,170525,X. Ham Ninh,TP. Phu Quoc,Kien Giang,"X. Ham Ninh, TP. Phu Quoc, Kien Giang"
4,540196,TT.Bac Ha,H. Bac Ha,Lao Cai,"TT.Bac Ha, H. Bac Ha, Lao Cai"
...,...,...,...,...,...
64520,570492,X. Ky Phong,H. Ky Anh,Ha Tinh,"X. Ky Phong, H. Ky Anh, Ha Tinh"
64521,224132,THI TRAN XUAN MAI,H. Chuong My,TP. Ha Noi,"THI TRAN XUAN MAI, H. Chuong My, TP. Ha Noi"
64522,210940,P.5,TP. Da Lat,Lam Dong,"P.5, TP. Da Lat, Lam Dong"
64523,014513,Phuong 9,Q. 5,TP. HCM,"Phuong 9, Q. 5, TP. HCM"
64524,460739,P. Hoang Van Thu,TP. Thai Nguyen,Thai Nguyen,"P. Hoang Van Thu, TP. Thai Nguyen, Thai Nguyen"

In [43]:
distinct_shops = shop_df['CODE_POS'].nunique()
print(f"Number of distinct shops: {distinct_shops}")

Number of distinct shops: 64343

In [44]:
# Non-duplicated contract ids
non_duplicated_shops = shop_df[shop_df['CODE_POS'].duplicated(keep=False) == False]
print(f"Number of non-duplicated shops: {len(non_duplicated_shops)}")

# Duplicated contract ids
duplicated_shops = shop_df[shop_df['CODE_POS'].duplicated(keep=False)]
print(f"Number of duplicated shops: {len(duplicated_shops)}")

Number of non-duplicated shops: 64162
Number of duplicated shops: 363

In [46]:
duplicated_shops = duplicated_shops.drop_duplicates()
print(f"Number of duplicated shops after dropping duplicates: {len(duplicated_shops)}")

Number of duplicated shops after dropping duplicates: 181

In [47]:
# Append the non-duplicated shops to the duplicated shops
shop_df = pd.concat([non_duplicated_shops, duplicated_shops], ignore_index=True)
shop_df

,CODE_POS,SALESROOM_TOWN,SALESROOM_DISTRICT,SALESROOM_PROVINCE,ADDRESS
0,410163,P. LẠCH TRAY,Q. Ngo Quyen,Hai Phong,"P. LẠCH TRAY, Q. Ngo Quyen, Hai Phong"
1,400714,P. Truong Thi,TP. Vinh,Nghe An,"P. Truong Thi, TP. Vinh, Nghe An"
2,240068,P. THAC MO,TX. Phuoc Long,Binh Phuoc,"P. THAC MO, TX. Phuoc Long, Binh Phuoc"
3,170525,X. Ham Ninh,TP. Phu Quoc,Kien Giang,"X. Ham Ninh, TP. Phu Quoc, Kien Giang"
4,540196,TT.Bac Ha,H. Bac Ha,Lao Cai,"TT.Bac Ha, H. Bac Ha, Lao Cai"
...,...,...,...,...,...
64338,121362,X. My Hoa Hung,TP. Long Xuyen,An Giang,"X. My Hoa Hung, TP. Long Xuyen, An Giang"
64339,121361,X. My Hoa Hung,TP. Long Xuyen,An Giang,"X. My Hoa Hung, TP. Long Xuyen, An Giang"
64340,300501,P. Ho Phong,TX. Gia Rai,Bac Lieu,"P. Ho Phong, TX. Gia Rai, Bac Lieu"
64341,015026,P. CO GIANG,Q. 1,TP. HCM,"P. CO GIANG, Q. 1, TP. HCM"
64342,510497,TT.PHU YEN,H. Phu Yen,Son La,"TT.PHU YEN, H. Phu Yen, Son La"

In [48]:
category_cols = ['SALESROOM_TOWN', 'SALESROOM_DISTRICT']
continuos_cols = []
timeseries_cols = []

In [49]:
shop_df[category_cols] = shop_df[category_cols].fillna('XNA')

In [50]:
shop_df

,CODE_POS,SALESROOM_TOWN,SALESROOM_DISTRICT,SALESROOM_PROVINCE,ADDRESS
0,410163,P. LẠCH TRAY,Q. Ngo Quyen,Hai Phong,"P. LẠCH TRAY, Q. Ngo Quyen, Hai Phong"
1,400714,P. Truong Thi,TP. Vinh,Nghe An,"P. Truong Thi, TP. Vinh, Nghe An"
2,240068,P. THAC MO,TX. Phuoc Long,Binh Phuoc,"P. THAC MO, TX. Phuoc Long, Binh Phuoc"
3,170525,X. Ham Ninh,TP. Phu Quoc,Kien Giang,"X. Ham Ninh, TP. Phu Quoc, Kien Giang"
4,540196,TT.Bac Ha,H. Bac Ha,Lao Cai,"TT.Bac Ha, H. Bac Ha, Lao Cai"
...,...,...,...,...,...
64338,121362,X. My Hoa Hung,TP. Long Xuyen,An Giang,"X. My Hoa Hung, TP. Long Xuyen, An Giang"
64339,121361,X. My Hoa Hung,TP. Long Xuyen,An Giang,"X. My Hoa Hung, TP. Long Xuyen, An Giang"
64340,300501,P. Ho Phong,TX. Gia Rai,Bac Lieu,"P. Ho Phong, TX. Gia Rai, Bac Lieu"
64341,015026,P. CO GIANG,Q. 1,TP. HCM,"P. CO GIANG, Q. 1, TP. HCM"
64342,510497,TT.PHU YEN,H. Phu Yen,Son La,"TT.PHU YEN, H. Phu Yen, Son La"

In [51]:
shop_df.to_csv(r'cleaned_data/SHOP.csv', index=False)