In [13]:
import pandas as pd

In [16]:
df = pd.read_csv(r'data/CUSTOMER.csv')
df

C:\Users\Admin\AppData\Local\Temp\ipykernel_4500\13977993.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'data/CUSTOMER.csv')

,SKP_CLIENT,NAME_GENDER,NAME_EDUCATION_TYPE,DATE_BIRTH,CNT_CHILDREN,FLAG_CAR_OWNER,NAME_SALARY_FREQUENCY,CNT_PERSON_DEPENDENT,ADDRESS,AVG_SESSION_PER_WEEK_2025
0,676,Female,High school education,1966-03-18 00:00,0.0,X,XNA,NaN,"P. 2,TP. Tan An,Long An",0.0
1,1470,Male,High school education,1967-12-27 00:00,1.0,X,XNA,NaN,"P. 9,Q. 8,TP. HCM",0.0
2,7123,Male,Junior school education,1972-10-03 00:00,2.0,X,XNA,6.0,"TT.BUON TRAP,H. Krong Ana,Dak Lak",0.0
3,10711,Female,Elementary (primary) school,1978-01-01 00:00,1.0,X,XNA,1.0,"X. An Thai Dong,H. Cai Be,Tien Giang",0.0
4,12407,Male,High school education,1986-03-14 00:00,1.0,X,XNA,NaN,"P. Yen The,TP. Pleiku,Gia Lai",0.0
...,...,...,...,...,...,...,...,...,...,...
1000523,126809534,Male,XNA,1990-04-02 00:00,0.0,X,XNA,NaN,NaN,0.0
1000524,127462754,Male,XNA,2005-04-30 00:00,NaN,X,XNA,NaN,NaN,0.0
1000525,126394510,Male,XNA,1995-07-24 00:00,0.0,X,XNA,NaN,NaN,0.0
1000526,118415150,Female,XNA,2000-05-09 00:00,NaN,X,XNA,NaN,NaN,0.0
1000527,126803169,Male,XNA,2004-09-27 00:00,NaN,X,XNA,NaN,NaN,0.0

In [15]:
# Ratio of missing values in each column (%)
missing_ratio = df.isnull().mean() * 100
print("Ratio of missing values in each column:")
print(missing_ratio)

Ratio of missing values in each column:
SKP_CREDIT_CASE           0.000000
SKP_CLIENT                0.000000
NAME_EDUCATION_TYPE       0.000000
CNT_CHILDREN              0.000000
AMT_INCOME_MAIN           0.000000
AMT_INCOME_HOUSEHOLD      0.000000
NAME_INCOME_TYPE          0.000000
CODE_PROFESSION           0.000000
NAME_CREDIT_STATUS        0.000000
PRODUCT                   0.454725
AMT_CREDIT                0.310454
PAYMENT_NUM              10.555698
INIT_PAY                  0.454725
ANNUITY                  10.646088
SKP_SALESROOM             0.000000
APPLY_CONTRACT_TIME       0.000000
APPROVE_CONTRACT_TIME    23.012522
SIGN_CONTRACT_TIME       32.198525
APPLY_EMPLOYEE            0.000000
SIGN_EMPLOYEE            32.198525
TRANSAC                  93.521720
FIRST_DUE                 0.000000
SECOND_DUE                0.000000
THIRD_DUE                 0.000000
FOURTH_DUE                0.000000
AMT_BILLING              93.521784
FLAG_INS                  0.000000
APPLY_EMPLOYEE_LEVEL     88.403381
SIGN_EMPLOYEE_LEVEL      91.132086
dtype: float64